<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240613390286-mjq7t9qjv78sepqmhld7ihgmqmb1mg98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240613390286-mjq7t9qjv78sepqmhld7ihgmqmb1mg98</string>
	<key>API_KEY</key>
	<string>AIzaSyB3jQDuBqNSzbKenNMPb8acq1UJwapAR8U</string>
	<key>GCM_SENDER_ID</key>
	<string>240613390286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PointMe.Inc.PointMe</string>
	<key>PROJECT_ID</key>
	<string>pointme-ca9bc</string>
	<key>STORAGE_BUCKET</key>
	<string>pointme-ca9bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240613390286:ios:9fe24adb38b3d0cf10dd9f</string>
</dict>
</plist>